
@import "bulma";

body {
  background-color: #FAFAFA;
  height: 100%;
  min-height: 100vh;
}

.icon-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.image {
  border-radius: 50%;
  border: 1px solid black;
  img {
    border-radius: 50%;
  }
}

hr {
  height: 1px;
  background-color: black;
}
a {
  color: black;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
.card {
  height: 100%;
}
.container-img {
position: relative;
width: 100%; /* The size you want */
}
.container-img:after {
content: "";
display: block;
padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.container-img img {
position: absolute; /* Take your picture out of the flow */
top: 0;
bottom: 0;
left: 0;
right: 0; /* Make the picture taking the size of it's parent */
width: 100%; /* This if for the object-fit */
height: 100%; /* This if for the object-fit */
object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
object-position: center;
}

.image-navbar {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}
