// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bulma";

a {
  color: black;
}

.icon-padding {
  padding-left: 20px;
  padding-right: 20px;
}
